name: SLSA provenance for releases

on:
  workflow_dispatch:
  push:
    tags:
      - 'v*'

permissions: {}

jobs:
  build:
    name: Build Python packages
    runs-on: ubuntu-latest
    outputs:
      hashes: ${{ steps.hash.outputs.hashes }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Install build dependencies
        run: |
          python -m pip install --upgrade pip
          pip install build

      - name: Build package
        run: python -m build

      - name: Generate subject
        id: hash
        run: |
          cd dist
          HASHES=$(sha256sum * | base64 -w0)
          echo "hashes=$HASHES" >> "$GITHUB_OUTPUT"

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: dist
          path: dist/
          if-no-files-found: error

  provenance:
    name: Generate SLSA provenance
    needs: [build]
    uses: slsa-framework/slsa-github-generator/.github/workflows/generator_generic_slsa3.yml@v1.10.0
    permissions:
      actions: read
      contents: write
      id-token: write
    with:
      base64-subjects: "${{ needs.build.outputs.hashes }}"
      provenance-name: gsppy-provenance.intoto.jsonl
      upload-assets: true
